#topbar {
background-image: url("/images/kc_black_history_band_lg.jpg");
background-repeat: repeat-x;
}

#homefeature {
 background-image: url("/images/nypl.digitalcollections.510d47e2-08bb-a3d9-e040-e00a18064a99.001.w.jpg");
 background-repeat: no-repeat;
 min-height:800px;
 margin: 0 auto;
}
